<%- include("headder") %> 

    <div class="box" id="heading">
        <h1><%= titleOfPage %></h1>
    </div>
    
    <div class="box">

     <%   items.forEach(function(item){  %>
        <form action="/delete" method="post">
            <div class="item">
                <input type="checkbox" name="checkbox" value=<%= item.id %>  onChange="this.form.submit()">
                <p><%= item.name %> </p>
            </div>
            <input type="hidden" name = "listName" value =<%= titleOfPage %> >
        </form>
      <%  }) %>

        <form class="item" action="/" method="post">
            <input name="newItem" type="text" placeholder="New Item">
            <button name="list" value=<%= titleOfPage %>> + </button>
        </form>
    </div>
   
   
<%- include("footer") %> 
